<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button class="modal__btn--close" data-modal-close>
            <svg width="14px" height="14px">
                <use href="#"></use>
            </svg>
        </button>
        <div class="modal__card">
            <div class="modal__card--photo">
                <img class="modal__card--img" src="./images/Rectangle 18.jpg" alt="#" />
            </div>
            <div class="modal__card--info">
                <h2 class="modal__card--name">A FISTFUL OF LEAD</h2>
                <ul class="modal__card--list">
                    <li class="modal__card--item">Vote / Votes <span class="modal__card--data">7,3 / 1260</span></li>
                    <li class="modal__card--item">Popularity <span class="modal__card--data">100,2</span></li>
                    <li class="modal__card--item">Original Title <span class="modal__card--data">A FISTFUL OF LEAD</span></li>
                    <li class="modal__card--item">Genre <span class="modal__card--data">Western</span></li>
                </ul>
                <h3>ABOUT</h3>
                <p>Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt settlement of
                    the
                    gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out in
                    the
                    abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the very
                    same
                    bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead... they’ve
                    been double crossed – but by who and how?</p>
                <button class="modal__btn--watched" data-modal-watched>ADD TO WACHED</button>
                <button class="modal__btn--watched" data-modal-watched>ADD TO QUEUE</button>
            </div>
        </div>
    </div>
</div>